/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 90%; 
  margin: 0 auto;
}

.cap { text-transform: $text-cap; }
.up { text-transform: $text-up; }

h3 {
  padding-top: 5px;
  font-size: $icon-size;
  font-family: $primary-font-fam;
  text-align: center;
  text-transform: $text-cap;
}