header {
  width: 90%;
  padding: 20px 0;
  margin: 0 auto;
  background-color: $primary-color;
  
  .wrapper {
    width: 95%;
    margin: 0 auto;
  }

  h1 { display: inline-block; }

  img {
    width: 120px;
    height: 30px;
  }

  nav {
    padding-top: 5px;
    float: right;

    a {
      padding-left: 20px;
      color: $white;
      text-transform: $text-cap;

      &:hover { color: $secondary-color; }
    }

    .menu__name {
      &--active { color: $secondary-color; }
    }
  }
}