@mixin breakpoint($device) {
  @if($device=='pc'){
    @media screen and (max-width: $pc) {
      @content;
    }
  }
  @else if($device=='ipad-pro') {
    @media screen and (max-width: $ipad-pro) {
      @content;
    }
  }
  @else if($device=='ipad') {
    @media screen and (max-width: $ipad) {
      @content;
    }
  }
  @else if($device=='large-mobile') {
    @media screen and (max-width: $large-mobile) {
      @content;
    }
  }
  @else if($device=='med-mobile') {
    @media screen and (max-width: $med-mobile) {
      @content;
    }
  }
  @else if($device=='small-mobile') {
    @media screen and (max-width: $small-mobile) {
      @content;
    }
  }
}

@mixin position($position, $zIndex, $top, $right, $bottom, $left) {
  position: $position;
  z-index: $zIndex;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin border-radius($value) {
  border-radius: $value;
  -webkit-border-radius: $value;
  -moz-border-radius: $value;
  -ms-border-radius: $value;
  -o-border-radius: $value;
}

@mixin display-flex($content) {
	display: -webkit-box;
	display: -ms-flexbox;
	display: $content;
}

@mixin linear-gradient($content, $color1, $color2) {
	background: linear-gradient(to $content, $color1, $color2);
	background: -webkit-linear-gradient($content, $color1, $color2);
	background: -moz-linear-gradient($content, $color1, $color2);
	background: -ms-linear-gradient($content, $color1, $color2);
	background: -o-linear-gradient($content, $color1, $color2);
}

@mixin placeholder() {
	&::placeholder {
		@content;
	}

	&::-webkit-input-placeholder {
		/* Chrome/Opera/Safari */
		@content;
	}

	&:-ms-input-placeholder {
		/* IE 10+ */
		@content;
	}

	&::-moz-placeholder {
		/* Firefox 19+ */
		@content;
	}

	&:-moz-placeholder {
		/* Firefox 18- */
		@content;
	}
}