$primary-color:rgb(1, 84, 107);
$secondary-color:rgb(10, 198, 252);
$tertiary-color: rgb(2, 106, 138);
$icon-color:rgb(53, 137, 162);
$bluish-gray:rgb(52, 118, 137);
$black:#000;
$white: #fff;
$off-white-color:rgb(244, 244, 244);
$beige:rgb(214, 214, 202);
$transparent-color:transparent;
$primary-font:40px;
$weight:600;
$text-cap:capitalize;
$text-up:uppercase;
$primary-font-fam:serif;
$icon-fam:"Fontawesome";
$basic: Verdana, Tahoma, sans-serif;
$icon-size:24px;
$heading:75px;
$text-size:20px;
$small-font:12px;
$med-font:14px;
//banner
$banner-pic:url('../images/background.png');

//breakpoints
$pc:1440px;
$ipad-pro:1024px;
$ipad:768px;
$large-mobile:425px;
$med-mobile:375px;
$small-mobile:320px;
