$primary-color:rgb(1, 84, 107);
$secondary-color:rgb(10, 198, 252);
$white:rgb(255, 255, 255);
$primary-font:16px;
$text-cap:capitalize;
$icon:"Fontawesome";
$icon-size:24px;

//breakpoints
$pc:1440px;
$ipad-pro:1024px;
$ipad:768px;
$large-mobile:425px;
$med-mobile:375px;
$small-mobile:320px;
