$primary-color:rgb(1, 84, 107);
$secondary-color:rgb(10, 198, 252);
$black:#000;
$white: #fff;
$transparent-color:transparent;
$primary-font:40px;
$text-cap:capitalize;
$text-up:uppercase;
$primary-font-fam:serif;
$icon-fam:"Fontawesome";
$icon-size:24px;
$heading:75px;
//banner
$banner-pic:url('../images/background.png');

//breakpoints
$pc:1440px;
$ipad-pro:1024px;
$ipad:768px;
$large-mobile:425px;
$med-mobile:375px;
$small-mobile:320px;
