/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */
/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block; }

/* Force scrollbar */
html {
  overflow-y: scroll;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

/* Align radios and text inputs with their label */
input[type='radio'] {
  vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer; }

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit; }

em {
  font-style: italic; }

img {
  border: 0;
  width: 100%;
  height: auto;
  vertical-align: middle; }

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0; }

sup {
  top: -.7em; }

sub {
  bottom: -.25em; }

/* 1.2. Clear Fix
   ========================================================================== */
.cf:before,
.cf:after {
  display: table;
  content: " "; }

.cf:after {
  clear: both; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif; }

a {
  display: inline-block;
  text-decoration: none; }

li {
  display: inline-block;
  list-style-type: none; }

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 90%;
  margin: 0 auto; }

.cap {
  text-transform: capitalize; }

.up {
  text-transform: uppercase; }

h3 {
  padding-top: 5px;
  font-size: 24px;
  font-family: serif;
  text-align: center;
  text-transform: capitalize; }

header {
  width: 90%;
  padding: 24px 0;
  margin: 0 auto;
  position: absolute;
  z-index: 1;
  top: 75px;
  right: 5%;
  bottom: initial;
  left: initial;
  background-color: #01546b; }
  header .wrapper {
    width: 95%;
    margin: 0 auto; }
  header h1 {
    display: inline-block; }
  header img {
    width: 120px;
    height: 30px; }
  header nav {
    padding-top: 5px;
    float: right; }
    @media screen and (max-width: 425px) {
      header nav li {
        display: block;
        padding: 10px 0;
        text-align: center; } }
    header nav a {
      padding-left: 25px;
      color: #fff;
      text-transform: capitalize; }
      header nav a:hover {
        color: #0ac6fc; }
    header nav .menu__name--active {
      color: #0ac6fc; }
    @media screen and (max-width: 425px) {
      header nav {
        width: 100%;
        max-height: 0;
        transition: .2s;
        overflow: hidden;
        z-index: 1; } }

.hamburger {
  display: none;
  position: absolute;
  z-index: initial;
  top: 20px;
  right: 5%;
  bottom: initial;
  left: initial;
  text-indent: -9999px; }
  .hamburger::before {
    content: '\f0c9';
    position: absolute;
    z-index: initial;
    top: 5px;
    right: 36%;
    bottom: initial;
    left: initial;
    font-family: "Fontawesome";
    font-size: 24px;
    text-indent: 0; }
  @media screen and (max-width: 425px) {
    .hamburger {
      display: block; } }

.banner a.integer-active, .banner a:hover {
  background-color: #0ac6fc;
  border: 1px solid transparent; }

.banner {
  padding-top: 320px;
  padding-bottom: 200px;
  background: url("../images/background.png"); }
  .banner h2 {
    color: #fff;
    font-family: serif;
    font-size: 75px;
    text-transform: capitalize; }
    @media screen and (max-width: 425px) {
      .banner h2 {
        font-size: 40px; } }
  .banner p {
    padding-top: 20px;
    padding-right: 480px;
    padding-bottom: 40px;
    color: #fff;
    text-transform: capitalize; }
    @media screen and (max-width: 425px) {
      .banner p {
        padding: 20px 0; } }
  .banner a {
    padding: 14px 28px;
    margin-top: 20px;
    margin-right: 20px;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    border: 1px solid #fff;
    color: #fff;
    text-transform: uppercase; }
    @media screen and (max-width: 425px) {
      .banner a {
        display: table; } }
    .banner a.integer-active:hover {
      background-color: transparent;
      border: 1px solid #fff; }

.call, .email, .time, .address {
  display: inline-block;
  text-indent: -9999px; }

.call--mod::after, .email--mod::after, .time--mod::after, .address--mod::after {
  width: 24px;
  padding: 12px 13px;
  border-radius: 26px;
  float: right;
  background: #3589a2;
  color: #0ac6fc;
  font-size: 24px;
  font-family: "Fontawesome";
  text-align: center;
  text-indent: 0; }

.call--mod:hover::after, .email--mod:hover::after, .time--mod:hover::after, .address--mod:hover::after {
  background-color: #0ac6fc;
  color: #fff; }

.contact-visit {
  background-color: #026a8a;
  padding: 50px 0; }
  .contact-visit .methods li {
    margin-left: 8%; }
    @media screen and (max-width: 1024px) {
      .contact-visit .methods li {
        margin-left: 2%; } }
    @media screen and (max-width: 768px) {
      .contact-visit .methods li {
        margin-left: 5%; } }
    @media screen and (max-width: 425px) {
      .contact-visit .methods li {
        margin-left: 5px;
        margin-top: 20px; } }
    .contact-visit .methods li:first-child {
      margin-left: 0; }
    .contact-visit .methods li .method-text {
      padding-top: 5px;
      padding-left: 15px;
      float: right; }
      @media screen and (max-width: 768px) {
        .contact-visit .methods li .method-text {
          font-size: 14px; } }
      .contact-visit .methods li .method-text .way {
        color: #fff;
        font-weight: 600; }
      .contact-visit .methods li .method-text .details {
        padding-top: 5px;
        display: block;
        color: #fff; }
        .contact-visit .methods li .method-text .details .location {
          color: #0ac6fc; }

.call--mod::after {
  content: '\f095'; }

.email--mod::after {
  content: '\f0e0'; }

.time--mod::after {
  content: '\f017'; }

.address--mod::after {
  content: '\f041'; }

.sapien {
  margin-top: 100px; }
  .sapien .overlay {
    padding: 80px 0;
    background: url(../images/01.png);
    color: white;
    text-align: center; }
  .sapien .sapien__content {
    padding: 50px 0;
    margin-top: 50px;
    background-color: #fff;
    text-align: left;
    color: #000;
    display: block; }
    .sapien .sapien__content .about {
      width: 52%;
      display: inline-block;
      padding: 0 65px; }
      @media screen and (max-width: 1024px) {
        .sapien .sapien__content .about {
          width: 42%; } }
      @media screen and (max-width: 425px) {
        .sapien .sapien__content .about {
          width: 80%;
          padding: 0 30px; } }
      .sapien .sapien__content .about .subject {
        text-transform: capitalize;
        font-size: 24px;
        font-family: serif; }
        @media screen and (max-width: 1024px) {
          .sapien .sapien__content .about .subject {
            font-size: 20px; } }
      .sapien .sapien__content .about p {
        padding-top: 20px;
        line-height: 1.5; }
      .sapien .sapien__content .about .sapien-logs {
        margin-top: 30px; }
        .sapien .sapien__content .about .sapien-logs li {
          width: 50%;
          min-height: 25px;
          margin: 10px 0;
          display: block;
          float: left; }
          @media screen and (max-width: 425px) {
            .sapien .sapien__content .about .sapien-logs li {
              width: 100%;
              float: none; } }
          .sapien .sapien__content .about .sapien-logs li:nth-child(odd) {
            margin-left: 0;
            clear: left; }
          .sapien .sapien__content .about .sapien-logs li .nums {
            padding: 4px 8px;
            border-radius: 16px;
            -webkit-border-radius: 16px;
            -moz-border-radius: 16px;
            -ms-border-radius: 16px;
            -o-border-radius: 16px;
            background: #0ac6fc;
            color: #fff; }
            .sapien .sapien__content .about .sapien-logs li .nums:hover {
              background-color: #026a8a; }
          .sapien .sapien__content .about .sapien-logs li .log-text {
            padding-left: 5px; }
            @media screen and (max-width: 1024px) {
              .sapien .sapien__content .about .sapien-logs li .log-text {
                padding-left: 0; } }
    .sapien .sapien__content figure {
      margin-right: 60px;
      float: right; }
      @media screen and (max-width: 1024px) {
        .sapien .sapien__content figure {
          margin-right: 60px; } }
      @media screen and (max-width: 425px) {
        .sapien .sapien__content figure {
          margin-right: 0;
          float: none;
          text-align: center; } }
      @media screen and (max-width: 1024px) {
        .sapien .sapien__content figure img {
          width: 280px; } }
      @media screen and (max-width: 768px) {
        .sapien .sapien__content figure img {
          width: 210px; } }

/*# sourceMappingURL=style.css.map */
